{% extends "../kernel.j2" %}

{% block PROLOGUE %}
{{ super() }}
{% endblock %}

{% block KERNEL_INIT_DATA %}
{{ super() }}
{% endblock %}

{% block KERNEL_BODY %}
{{ super() }}
{% endblock %}

{% block KERNEL_FINISH %}
{{ super() }}
{% endblock %}

{% block KERNEL_END %}
{{ super() }}
{% endblock %}

{% block EPILOGUE %}
{{ super() }}
{% endblock %}
